@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-purple: #6a1b9a;
  --custom-light-purple: #f3e5f5;
  --custom-dark-purple: #4a148c;
  --custom-accent-purple: #9c27b0;
  --custom-text-dark: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-purple: var(--custom-purple);
  --color-light-purple: var(--custom-light-purple);
  --color-dark-purple: var(--custom-dark-purple);
  --color-accent-purple: var(--custom-accent-purple);
}

body {
  background: var(--background);
  color: var(--custom-text-dark);
  font-family: Helvetica, sans-serif;
}